@import "tailwindcss";

@theme {
  --font-sans: var(--font-nunito);
  --font-heading: var(--font-fredoka);
}

:root {
  --background: #f0f9ff;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}